<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <title>Scraping With Mongoose</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        {{!-- Reset css --}}
        <link rel="stylesheet" href="css/reset.css">

        {{!-- Materialize --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Latest compiled and minified CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        {{!-- Custom css --}}
        <link rel="stylesheet" href="css/style.css">

        <!-- Favicon -->
        <link rel="shortcut icon" href="images/Scraper.jpg" type="image/x-icon">
        <link rel="icon" href="images/Scraper.jpg" type="image/x-icon">

    </head>

    <body>
    
        {{{ body }}}

    </body>

    <footer>
        {{!-- Add in jQuery --}}
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        {{!-- Materialize js --}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        {{!-- Custom js --}}
	    <script src="js/reformat.js"></script>
    </footer>

</html>
