<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        {{!-- Reset css --}}
        <link rel="stylesheet" href="/public/css/reset.css">

        <!-- Latest compiled and minified CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        {{!-- Custom css --}}
        <link rel="stylesheet" href="/public/css/style.css">

    </head>

    <body>
    
        {{{ body }}}

    </body>

    <footer>
        {{!-- Add in jQuery --}}
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	    <script src="/public/js/main.js"></script>
    </footer>

</html>
