<html>
    <div id="wrapper">

      <h1>
        Note Scraper
      </h1>

      <h2>
        <i>If you can do this...the homework should be no problem.</i>
      </h2>

      {{!-- Box that holds all note making info --}}
      <div id="note-box">

        <form action="/notes/create" method="post">

          <h1>Hi User!</h1>
          <h2>Enter a Note!</h2>

          {{!-- User enters note title here --}}
          <input id="note-title-input" type="text" name="title" placeholder="Title">

          {{!-- User enters note body here --}}
          <textarea id="note-body-input" type="text" name="body" placeholder="Write Note Here"></textarea>

          {{!-- Submit button for note --}}
          {{!-- <a id="create-note" href="/notes/create"><button type="button">Submit Note</button></a> --}}
          <input id="create-note-button" type="submit">

          {{!-- Links to json info of users and notes --}}
          <a href="/note/json">See your notes!</a>
          <a href="/user">See your profile!</a>
          <a href="/populateduser">See your profile, populated with notes!</a>

        </form>

        <div id="results">
          
        </div>

      </div>

    </div>

      <div class="row around">

        <div class="col-md-4 border border-dark" id="articles">
          <h2>All article info goes here</h2>

          <div id="readNotes">
            <h2>read notes</h2>
            {{#each NoteSchema}}
              {{#if read}}
                {{> notes/note-block beenRead=true}}
              {{/if}}
            {{/each}}
          </div>
          
        </div>

        <div class="col-md-4 border border-dark" id="notes">
          <h1>All notes here</h1>

          <div id="unreadNotes">
            <h2>unread notes</h2>
            {{#each NoteSchema}}
              {{#unless read}}
                {{> notes/note-block beenRead=false}}
              {{/unless}}
            {{/each}}
          </div>

          {{!-- <div id="readNotes">
            <h2>read notes</h2>
            {{#each notes}}
              {{#if read}}
                {{> notes/note-block beenRead=true}}
              {{/if}}
            {{/each}}
          </div> --}}
        </div>

      </div>

  </div>
</html>