{{!-- <li> --}}

	<img class="note-icon" src="images/notes-icon.jpg" height="150px" width="150px">


	<button class="change-read boldest rounded" data-id="{{_id}}" data-newread="{{read}}">
		{{#if read}}Put on shelf

		{{else}}READ THAT MOFO!!!

		{{/if}}
	</button>

	
{{!-- </li> --}}